<% @ad.comments.each do |comment| %>
  <div class="row">
    <div class="col-md-12">
      <strong> <%= comment.member.email %> </strong>>
      <strong class="pull-right"><%= time_ago_in_words(comment.created_at) %></strong>
      <p><%= comment.body  %></p>
    </div>
  </div>

  <hr>

<% end -%>
